<clr-main-container>
  <clr-header class="header header-5">
    <div class="branding">
      <!-- <a href="#" class="nav-link"> -->
      <span class="branding" style="padding:15px;" routerLink="/">
        <img src="assets\DellEMC_Logo_Hz_Wht_rgb.png" style="height:90%; float:left">
      </span>
      <span class="title">ctxdoing</span>
      <!-- </a> -->
    </div>

    <!-- <div class="header-nav">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <span class="nav-text">Dashboard</span>
      </a>
    </div> -->

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="mailto:Gonzalo.MurilloTello@emc.com?subject=ctxdoing Feedback" clrDropdownItem>Report Issue</a>
          <a clrDropdownItem (click)="aboutDialog.showAboutDialog()">About</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

  </clr-header>
  <div class="content-container">
    <main class="content-area" style="padding:0;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Modal dialog for the 'about' component -->
  <app-about #aboutDialog></app-about>
</clr-main-container>