<p>This tool can analyze an individual ASUP file and display information about the replication contexts found on it.<br>
  It can also analyze two ASUP files and calculate the delta difference of the replication contexts they have in common. This is useful for knowing what a replication context has been doing between two specific dates.<br>
  In both cases the tool helps to identify bottlenecks on the replication by analyzing the time spent by each function performed within the replication context.</p>
<h1>ASUP File Location</h1>
<p>Please choose an option for providing the ASUP file:</p>

<form clrForm>
  <clr-input-container #asupFileUploadContainer>
    <label class="clr-col-xs-12 clr-col-md-3" (click)="asupFileSpecificationMethod='upload'">
      <clr-radio-wrapper class="radio-in-label">
        <input type="radio" clrRadio name="asupFileSpecificationMethod" value="upload" [(ngModel)]="asupFileSpecificationMethod">
      </clr-radio-wrapper>
      Upload one or more ASUP files
    </label>
    <input class="clr-col-xs-12 clr-col-md-8" clrInput type="file" id="asupFileUpload" (change)="onUploadAsupFile($event.target.files)"
      multiple #asupFileUpload>
    <clr-control-helper>Select ASUP file(s) located on your computer.<br/>Hold CTRL to select multiple files.</clr-control-helper>
    <clr-control-error>Browse for file(s) to be uploaded for analysis</clr-control-error>
  </clr-input-container>

  <clr-input-container #asupFileAutoCoresPathContainer>
    <label class="clr-col-xs-12 clr-col-md-3" (click)="asupFileSpecificationMethod='autoCores'">
      <clr-radio-wrapper class="radio-in-label">
        <input type="radio" clrRadio name="asupFileSpecificationMethod" value="autoCores" [(ngModel)]="asupFileSpecificationMethod"
          (change)="clearAllFieldsInvalidMarker()">
      </clr-radio-wrapper>
      Use one or more ASUP file(s) from /auto/cores share:
    </label>
    <input class="clr-col-xs-12 clr-col-md-8" clrInput name="asupFileAutoCoresPath" [(ngModel)]="asupFileAutoCoresPath"
      placeholder="/auto/cores/cxxxxxx" />
    <clr-control-helper>Full path to a folder containing autosupport files</clr-control-helper>
    <clr-control-error>Enter the path as '/auto/cores/case_id/'</clr-control-error>
  </clr-input-container>


<!--
  <clr-input-container #asupFromElysiumSerialNumberContainer>
    <label class="clr-col-xs-12 clr-col-md-3" (click)="asupFileSpecificationMethod='elysium'">
      <clr-radio-wrapper class="radio-in-label">
        <input type="radio" clrRadio name="asupFileSpecificationMethod" value="elysium" [(ngModel)]="asupFileSpecificationMethod">
      </clr-radio-wrapper>
      Use from Elysium database
    </label>
    <input class="clr-col-xs-12 clr-col-md-8" clrInput name="asupFromElysiumSerialNumber" [(ngModel)]="asupFromElysiumSerialNumber"
      placeholder="" (change)="clearAllFieldsInvalidMarker()" />
    <clr-control-helper>Serial number of the Data Domain system</clr-control-helper>
    <clr-control-error>Enter a valid Data Domain serial number</clr-control-error>
  </clr-input-container>
-->
  <br />

  <button [clrLoading]="analyzeButtonLoading" class="btn btn-primary" type="submit" (click)="selectAsupAndProceed()">
    <clr-icon shape="search"></clr-icon> Analyze
  </button>
</form>

<app-error-dialog #errorDialog></app-error-dialog>
