<h1>Replication Context Time Report</h1>
<p>This report analyses the time spent by each replication context.</p>
<br />
<div *ngIf="replicationContexts">
  <clr-tabs>
    <div *ngFor="let c of replicationContexts">
      <clr-tab>
        <button clrTabLink>Context {{c.ctx}}</button>
        <clr-tab-content *clrIfActive>
          <div class="content-area">
            <h3>{{c.mtree}} <clr-icon shape="arrow" dir="right"></clr-icon> {{c.destination}}</h3>
            <br />
            <div class="clr-row">
              <div class="clr-col-md-6">
                <img src="{{c.graphImage}}" />
              </div>

              <div class="clr-col-md-6">
                <table class="table table-vertical">
                  <tbody>
                    <tr *ngFor="let row of c.ctxUsageTime">
                      <td class="left">{{row.key}}</td>
                      <td class="left" [ngClass]="{'red-cell': (row.value > 80)}">{{row.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </clr-tab>
    </div>
  </clr-tabs>
</div>
<app-error-dialog #errorDialog></app-error-dialog>