.red-cell {
    background-color: red;
}

.repl-details-table {
    width: auto;
    margin: auto;
}

.repl-details-table-element {
    margin-top: 0;
}

.repl-image {
    width: 100%;
}

.chart-container {
    display: grid;
}

.repl-details-header {
    margin-top: 0;
}

.repl-details-arrow {
    vertical-align: middle;
}
