<clr-modal [(clrModalOpen)]="showAboutModal" [clrModalClosable]="false">
  <h3 class="modal-title">About Replication Contexts Analyzer</h3>
  <div class="modal-body">
      Created with ❤ as a collaboration between:
      <ul>
        <li><strong>Gonzalo Murillo</strong> as a backend programmer</li>
        <li><strong>Omkar Ekbote</strong> as a frontend creator</li>
      </ul>
    <p>
    {{versionString}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="updateVisibilityState(false)">Ok</button>
</div>
</clr-modal>
