<clr-modal [(clrModalOpen)]="showAboutModal" [clrModalClosable]="false">
  <h3 class="modal-title">About Replication Contexts Analyzer</h3>
  <div class="modal-body">
      <p>Created with ❤ as a collaboration between:</p>
    <p><strong>Gonzalo Murillo</strong> backend programmer.</p>
    <p><strong>Omkar Ekbote</strong> front end creator.</p>
    <p>
    {{versionString}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="updateVisibilityState(false)">Ok</button>
</div>
</clr-modal>
